


body {
      color:#000000;
      background-color:#FFFFFF;
      background-image:url('Background Image');
      background-repeat:no-repeat;
    }
	
    a  { color:#0000FF; }
    a:visited { color:#800080; }
    a:hover { color:#008000; }
    a:active { color:#FF0000; }
	
	body {
		 background-color: #83C3B8;	
	}
	
	body > div {
		 margin: 0 100px 0 100px;
		 border: 0px solid black;
	}
	
	div {
		background-color: white;
	}
	
	
	#header {
		height: 80px;
		padding: 0 0 10px 0;
		font-family: "Time New Roman", Times, serif;
		font-size: 30px;
		font-weight: bold;
		color: #E58321;
		text-align: center;						
	}
	
	#content {
		width: 1680px;
		margin: auto;
	}
	
	#leftchat {
		 display: inline;
	}
	
	#rightchat {
		display: inline;
	}
	
	#video {
		display: inline;
	}
	
	#stream {
		clear: both;
	}
	
	.info {
		  padding: 10px 5px 10px 20px;
		  font-family: "Time New Roman", Times, serif;
		  	  
	}
	
	.blockicons {
		width: 1680px;
		height: 300px;
		margin: auto;
	}

	.blockicons > div {
		float: left;
		padding: 0 30px 0 30px;
	}
	
	.blockicons h3{
		
	}
	
	.blockicons div div {
		
	}
	
	.blockicons  img{
		display: inline
		width: 100px;
		height: 100px;		
	}
	
	h2 {
	   font-weight: bold;
	   color: #E58321;	   	
	}
	
	
	